name: smartserow_ui
description: Smart Serow embedded UI for Raspberry Pi Zero 2W
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  socket_io_client: ^2.0.3+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  fonts:
    - family: DIN1451
      fonts:
        - asset: assets/fonts/din1451alt.ttf
